<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shy.shopping.dao.admin.AdminMapper">
    <!--属性映射-->
    <!--<resultMap id="myResult" type="bh.db.ssm.entity.User" autoMapping="true">
        &lt;!&ndash;映射里面的用户信息属性&ndash;&gt;
        <association property="adminInfo"
                     select="com.shy.shopping.dao.admin.AdminInfoMapper.findAdminInfoById"
                     column="id">
        </association>

    </resultMap>-->
    <!--查询所有可用用户-->
    <select id="findAll" resultType="com.shy.shopping.entities.admin.Admin">
        select *
        from tb_admin;
    </select>
    <!--插入用户信息,默认用户初始未激活,并同时需要插入用户信息-->
    <insert id="addAdmin" useGeneratedKeys="true" keyProperty="id">
        insert into tb_admin(adminname, password, createDate, updateDate, state)
        VALUES (#{username}, #{password}, #{createData}, #{updateData}, #{state});
    </insert>
    <!--查询单个用户-->
    <select id="findById" resultType="com.shy.shopping.entities.admin.Admin">
        select * from tb_admin where id = #{id};
    </select>

    <!--根据id删除用户-->
    <delete id="deleteAdmin">
        delete from tb_admin where id = #{id};
    </delete>
    <!--更新用户-->
    <update id="updateAdmin">
        update
            tb_admin
        set
            adminname = #{adminname},
            password = #{password},
            updateDate = #{updateDate},
            state = #{state}
        where
            id = #{id};
    </update>


    <!--用户登陆-->
    <!--<select id="login" resultMap="myResult">
        select *
        from tb_admin
        where adminname = #{username}
          and password = #{password}
          and state = 1;
    </select>-->


</mapper>